.banner {
  height: 100vh;
  overflow: hidden;
  background-color: $blue;
  background-size: cover;
  background-position: center;
  padding-top: 5rem;
  color: white;
  img {
    max-width: 100%;
    height: auto;
  }
  .store-badge img {
    height: 3rem;
  }
  .device-frame {
    margin-top: 14rem;
  }
}

@include media-breakpoint-down(sm) {
  .banner .device-frame {
    margin-top: 3rem;
  }

  .banner {
    padding-top: 7rem;
  }
}
