.banner {
  height: 100vh;
  overflow: hidden;
  background-color: $blue;
  background-size: cover;
  background-position: center;
  padding-top: 5rem;
  color: white;
  img {
    max-width: 100%;
    height: auto;
  }
  .store-badge img {
    height: 3rem;
  }
  .device-frame {
    margin-top: 14rem;
  }
}

@include media-breakpoint-down(sm) {
  .banner {
    min-height: 120vw;
    padding-top: 7rem;
    .device-frame {
      max-width: 90vh;
      margin-top: 3rem;
    }
  }
}

@include media-breakpoint-down(xs) {
  .banner {
    .device-frame {
      margin-top: 1rem;
    }
  }
}

@media (max-width: 320px) {
  .banner {
    height: 125vh;
  }
}
