.cookoon-nav {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $blue;
  transition: background-color 0.5s ease;
  &-simple + main {
    padding-top: 5rem !important;
  }
}

@include media-breakpoint-up(md) {
  .cookoon-nav-top:not(.cookoon-nav-simple) {
    position: absolute;
    background-color: transparent;
    padding-top: 30px;
  }

  .navbar-nav {
    display: flex;
    width: 100%;
    .nav-item:last-child {
      margin-left: auto;
    }
  }
}

@include media-breakpoint-down(sm) {
  main {
    transition: margin-top 0.5s ease;
  }
  .cookoon-nav {
    font-size: 1.2rem;
    &-opened + main {
      margin-top: 180px;
    }
  }
}

// Offset anchors
:target:before {
  content: '';
  display: block;
  height: 90px;
  margin-top: -90px;
}
