.cookoon-nav {
  z-index: 1;
  .background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $blue;
  }
  &-top {
    position: absolute;
    top: 0;
    width: 100%;
    padding-top: 30px;
  }
  &-scrolled {
    position: fixed;
    top: 0;
    width: 100%;
  }
  &-simple {
    background-color: $blue;
    padding-top: 0px !important;
    position: fixed !important;
    & + main {
      margin-top: 5rem !important;
    }
  }
}
@include media-breakpoint-down(sm) {
  .cookoon-nav {
    background-color: $blue;
    &-top {
      padding-top: 0px;
      position: fixed;
      width: 100%;
      top: 0;
    }
    & + .content {
      margin-top: 0px;
      transition: margin-top 0.5s ease;
    }
    &-opened + .content {
      margin-top: 120px;
      transition: margin-top 0.5s ease;
    }
  }
}
