.device-frame {
  width: 100%;
  max-width: 540px;
  position: relative;
  overflow: hidden;
  .frame {
    position: relative;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .screen {
    position: absolute;
    top: 11.6%;
    left: 6.7%;
    width: 86.6%;
    height: 76.9%;
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

@include media-breakpoint-down(xs) {
  .device-frame {
    width: 90%;
  }
}

@media (max-width: 320px) {
  .device-frame {
    width: 75%;
  }
}
