.device-frame {
  width: 100%;
  max-width: 540px;
  position: relative;
  overflow: hidden;
  .frame {
    position: relative;
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

@include media-breakpoint-down(xs) {
  .device-frame {
    width: 90%;
  }
  .xs-frame-shadow {
    background: linear-gradient(0deg, #f8f9fa9c, #004254);
  }
}

@media (max-width: 320px) {
  .device-frame {
    width: 75%;
  }
}
