.text-card {
  padding: 25px;
  border-top: 1px solid $gold;
  border-bottom: 1px solid $gold;
  h3 {
    font-family: 'EB Garamond', serif;
  }
  a {
    color: black;
    text-decoration: none;
  }
}
