.text-card {
  background: $blue;
  color: white;
  padding: 25px;
  h3 {
    font-family: 'GFS Didot', serif;
  }
  a {
    color: white;
    text-decoration: none;
  }
  &--white {
    background: white;
    color: black;
  }
}
