// Graphical variables
@import 'config/fonts';
@import 'config/colors';
@import 'config/bootstrap-variables';

// External libraries
@import '~bootstrap/scss/bootstrap';
@import '~font-awesome/css/font-awesome.css';
@import 'vendor/icons';

// Components
@import 'utilities';
@import 'components/index';
