@include media-breakpoint-down(sm) {
  .background-hidden-sm {
    background-image: none !important;
  }
}

.h-100vh {
  height: 100vh;
}

.w-6r {
  width: 6rem;
}

h1, h2, h3, h4, h5 {
  font-family: 'GFS Didot', serif;
}

.h-7r {
  height: 7rem;
}

// Offset for anchors
:target:before {
  content:"";
  display:block;
  height:30px; /* fixed header height*/
  margin:-30px 0 0; /* negative fixed header height */
}

.bg-extend-left:before {
  content: '';
  background-color: inherit;
  position: absolute;
  height: 100%;
  width: 200%;
  z-index: -1;
  top: 0;
  right: 0;
}

.bg-extend-right:after {
  content: '';
  background-color: inherit;
  position: absolute;
  height: 100%;
  width: 200%;
  z-index: -1;
  top: 0;
  left: 0;
}
