@include media-breakpoint-down(sm) {
  .background-hidden-sm {
    background-image: none !important;
  }
}

.w-6r {
  width: 6rem;
}

.h-7r {
  height: 7rem;
}

.bg-extend-left:before {
  content: "";
  background-color: inherit;
  position: absolute;
  height: 100%;
  width: 200%;
  z-index: -1;
  top: 0;
  right: 0;
}

.bg-extend-right:after {
  content: "";
  background-color: inherit;
  position: absolute;
  height: 100%;
  width: 200%;
  z-index: -1;
  top: 0;
  left: 0;
}
