.footer {
  padding: 10px 0 25px 0;
  font-family: 'GFS Didot', serif;
  p {
    margin: 0;
  }
  .axa-logo {
    width: 40px;
    height: 40px;
  }
  .app-logo {
    width: 50%;
    height: 50%;
  }
}
